<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sallyezzat.popularmovies_s2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>  <!-- to check network state -->
    <application
        android:allowBackup="true"
        android:icon="@drawable/movie_ic"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:fullBackupContent="true">
        <activity android:name=".MainGridActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MovieDetailActivity"/>
        <provider
            android:name="com.sallyezzat.popularmovies_s2.data.MoviesContentProvider"
            android:authorities="com.sallyezzat.popularmovies_s2"
            android:exported="false"/>
    </application>
<!-- Used icon from http://iconbug.com/detail/icon/6819/3d-blue-movies-folder/ -->
</manifest>